:root{
  --mainColor:#1000f2;
  --secondaryColor: #fff;

  --borderColor: gold;

  --mainText: white;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;
  --previewBg: rgb(197, 197, 123);
  --previewShadow: rgb(88, 88, 88);

  --buttonColor: black;
}